@charset "UTF-8";
$pc: 1025px;    //パソコン
$tab: 600px;    //タブレット

// パソコン
@mixin pc {
    @media (min-width: ($pc)) {     //画面サイズが1025px以上の場合、pc画面になる
        @content;
    }
}
// タブレット
@mixin tab {
    @media (min-width: ($tab)) {    //画面サイズが600px〜1024pxの間の場合、タブレット画面になる
        @content;
    }
}

.aboutme-block {
    display: block;
    @include pc {
        display: flex;
    }
}
// .contact-btn {
//     margin-top: 50px;
//     font-size: 14px;
//     width: 300px;
//     .wp-block-button__link {
//         background-color: #FDFDFD;
//         color: #333333;
//         border: 1px solid #333333;
//         transition: .3s all;
//     }
//     .wp-block-button__link:hover {
//         background-color: #333333;
//         color: #FDFDFD;
//         border: 1px solid #FDFDFD;
//         transition: .3s all;
//     }
// }
.profile-img:not(.is-style-rounded) img {
    border-radius: 300px;
}
.profile-img {
    margin-top: 50px;
    @include tab {
        margin-top: 0;
    }
}