@charset "UTF-8";
@use "../../foundation/mixin";

.aboutme-block {
    display: block;
    @include mixin.pc {
        display: flex;
    }
}
.profile-img:not(.is-style-rounded) img {
    border-radius: 300px;
}
.profile-img {
    margin-top: 50px;
    @include mixin.tab {
        margin-top: 0;
    }
}