@charset "UTF-8";
@use "../../foundation/mixin";

.close-btn {
    display: block;
    color: #333;
    line-height: 1;
    width: 1.5em;
    height: 0.1em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
    transform: rotate(45deg);
    cursor: pointer;
    top: 22px;
    margin-right: 35px;
    float: right;
    @include mixin.pc {
        display: none;
    }
}    
.close-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
    @include mixin.pc {
        display: none;
    }
}