@charset "UTF-8";
@use "../../foundation/mixin";

.close-btn {
    /* ボタンの配置位置  */
    position: relative;
    top: 5px;
    float: right;
    margin-right: 20px;
    /* ボタンの大きさ  */
    width: 40px;
    height: 40px;
    /* 最前面に */
    z-index: 10;
    cursor: pointer;
    border: none;
    background-color: #FDFDFD;
    @include mixin.pc {
        display: none;
    }
}
/***** 真ん中のバーガー線 *****/
.close-btn-line {
    // 擬似要素を使用するためだけのコード
    // センターラインは表示させない
	display: block;
	position: relative;  /* バーガー線の位置基準として設定 */
}
.close-btn-line::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5em;
    height: 0.1em;
    background-color: #333333;
    transition: .5s;
    transform: rotate(45deg);
}
.close-btn-line::after {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5em;
    height: 0.1em;
    background-color: #333333;
    transition: .5s;
    transform: rotate(-45deg);
  }
