@charset "UTF-8";

.back-home-btn {
    margin-top: 50px;
    font-size: 14px;
    .wp-block-button__link {
        background-color: #FDFDFD;
        color: #333333;
        border: 1px solid #333333;
        transition: .3s all;
    }
    .wp-block-button__link:hover {
        background-color: #333333;
        color: #FDFDFD;
        border: 1px solid #FDFDFD;
        transition: .3s all;
    }
}