@charset "UTF-8";
$pc: 1025px;    //パソコン
$tab: 600px;    //タブレット

// パソコン
@mixin pc {
    @media (min-width: ($pc)) {     //画面サイズが1025px以上の場合、pc画面になる
        @content;
    }
}
// タブレット
@mixin tab {
    @media (min-width: ($tab)) {    //画面サイズが600px〜1024pxの間の場合、タブレット画面になる
        @content;
    }
}
$font-color: #333333;
.p-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DDDCD2;
    width: 100%;
    z-index: 100;
    @include pc {
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 20px;
        margin-left: 30px;
        @include pc {
            font-size: 30px;
        }
        a {
            color: $font-color;
        }
    }
    &-nav {
        display: none;
        @include pc {
            display: block;
            height: 100%;
        }
        &__list {
            height: 64px;
            display: flex;
            align-items: center;
            &-title {
                position: relative;
                margin-right: 10px;
                line-height: 24px;
                a {
                    color: $font-color;
                    display: inline-block;
                    padding: 10px;
                }
                a:hover {
                    opacity: 0.6;
                    transition: 0.3s;
                }
            }
            &-title::before,
            &-title::after {
                content:"";
                /*絶対配置で線の位置を決める*/
                position: absolute;
                /*線の形状*/
                width: 0;
                height:1px;
                background:#333333;
                /*アニメーションの指定*/
                transition: all 0.15s linear;
                transition-delay: 0.15s;
            }
            &-title::before {
                right: 0;
                top: 0;
            }
            &-title::after {
                left: 0;
                bottom: 0;
            }
            &-title span {
                display: block;
            }
            &-title span::before,
            &-title span::after {
                content:"";
                /*絶対配置で線の位置を決める*/
                position: absolute;
                /*線の形状*/
                width:1px;
                height:0;
                background: #333333;
                /*アニメーションの指定*/
                transition: all 0.15s linear;
            }
            &-title span::before {
                left: 0;
                top: 0;
            }
            &-title span::after {
                right: 0;
                bottom: 0;
            }
            &-title:hover::before,
            &-title:hover::after {
                width: 100%;
            }
            &-title:hover span::before,
            &-title:hover span::after {
                height: 100%;
            }
        }
    }
}