@charset "UTF-8";
$pc: 1025px;    //パソコン
$tab: 600px;    //タブレット

// パソコン
@mixin pc {
    @media (min-width: ($pc)) {     //画面サイズが1025px以上の場合、pc画面になる
        @content;
    }
}
// タブレット
@mixin tab {
    @media (min-width: ($tab)) {    //画面サイズが600px〜1024pxの間の場合、タブレット画面になる
        @content;
    }
}
$font-color: #333333;
.p-single-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/background1.png);
    width: 100%;
    @include pc {
        position: fixed;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }
    &__title {
        font-size: 16px;
        margin-left: 30px;
        @include pc {
            font-size: 30px;
        }
        a {
            color: $font-color;
        }
    }
    &-nav {
        position: fixed;
        top: 0;
        left: 100%;
        height: 100%;
        width: 55%;
        transition: left .3s;
        background-color: #FDFDFD;
        padding-left: 20px;
        z-index: 1000;
        @include tab {
            width: 45%;
        }
        @include pc {
            position: static;
            height: 100%;
            width: auto;
            padding-left: 0;
            transition: none;
            background-color: inherit;
        }
        &__list {
            padding-top: 100px;
            @include pc {
                height: 64px;
                display: flex;
                align-items: center;
                padding-top: 0;
            }
        }
    }
}

.is-single-open {
    left: 45%;
    @include tab {
        left: 55%;
    }
}

.p-single-header-nav__list {
    .add-class {
        ul {
            @include pc {
                display: flex;
            }
            li {
                border-bottom: 1px solid #333333;
                margin-bottom: 20px;
                margin-right: 10px;
                @include pc {
                    border-bottom: none;
                    margin-bottom: 0;
                }
                a {
                    padding: 10px;
                    color: #333333;
                    cursor: pointer;
                }
                a:hover {
                    opacity: 0.6;
                    transition: 0.3s;
                }
            }
        }
    }
}
