@charset "UTF-8";
$pc: 1025px;    //パソコン
$tab: 600px;    //タブレット

// パソコン
@mixin pc {
    @media (min-width: ($pc)) {     //画面サイズが1025px以上の場合、pc画面になる
        @content;
    }
}
// タブレット
@mixin tab {
    @media (min-width: ($tab)) {    //画面サイズが600px〜1024pxの間の場合、タブレット画面になる
        @content;
    }
}
.p-single-main {
    &__title {
        @include pc {
            font-size: 36px;
            margin-bottom: 20px;
            color: #333333;
        }
    }
    .p-toppage__visual {
        height: 300px;
        width: 100%;
        @include tab {
            height: 600px;
            width: 100%;
        }
        @include pc {
            height: 800px;
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .yarpp {
        text-align: center;
        margin-top: 60px;
        @include tab {
            margin-top: 80px;
        }
        @include pc {
            margin-top: 120px;
        }
        a {
            border: none;
            color: #333333;
            img {
                object-fit: cover;
                transition: .3s all;
            }
            img:hover {
                transition: .3s all;
                opacity: 0.6;
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
            }
        }
    }
}