@charset "UTF-8";
$pc: 1025px;    //パソコン
$tab: 600px;    //タブレット

// パソコン
@mixin pc {
    @media (min-width: ($pc)) {     //画面サイズが1025px以上の場合、pc画面になる
        @content;
    }
}
// タブレット
@mixin tab {
    @media (min-width: ($tab)) {    //画面サイズが600px〜1024pxの間の場合、タブレット画面になる
        @content;
    }
}
.p-single-main {
    &__title {
        @include pc {
            font-size: 36px;
            margin-bottom: 20px;
            color: #333333;
        }
    }
    .p-toppage__visual {
        display: flex;
        img {
            width: 100%;
            height: 100%;
        }
    }
}