@charset "UTF-8";
$pc: 1025px;    //パソコン
$tab: 600px;    //タブレット

// パソコン
@mixin pc {
    @media (min-width: ($pc)) {     //画面サイズが1025px以上の場合、pc画面になる
        @content;
    }
}
// タブレット
@mixin tab {
    @media (min-width: ($tab)) {    //画面サイズが600px〜1024pxの間の場合、タブレット画面になる
        @content;
    }
}
.p-top-main {
    margin: 0 30px 40px;
    height: 100%;
    @include tab {
        margin: 0 60px 40px;
    }
    @include pc {
        margin: 0 190px 90px;
    }
    &__about {
        @include tab {
            margin-bottom: 80px;
        }
        @include pc {
            margin-bottom: 0;
        }
        &-block {
            display: inherit;
            @include pc {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 120px;
            }
            .p-top-main__about-text {
                font-size: 14px;
                width: 100%;
                margin-bottom: 20px;
                @include tab {
                    font-size: 16px;
                }
                @include pc {
                    width: 70%;
                    margin-bottom: 0;
                    margin-right: 50px;
                }
            }
            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
                @include tab {
                    height: 400px;
                }
                @include pc {
                    width: 40%;
                }
            }
        }
    }
    &__skills {
        margin-bottom: 0;
        @include tab {
            margin-bottom: 80px;
        }
        @include pc {
            margin-bottom: 120px;
        }
        &-block {
            display: inherit;
            width: 100%;
            margin: 0 auto;
            @include tab {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            @include pc {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            .p-top-main__skills-single-block {
                text-align: center;
                margin-bottom: 30px;
                @include pc {
                    margin-bottom: 60px;
                }
                img {
                    margin: 0 auto;
                }
                p {
                    margin-top: 5px;
                    @include pc {
                        margin-top: 15px;
                    }
                }
            }
        }
        &-text {
            font-size: 14px;
            @include tab {
                font-size: 16px;
            }
        }
    }
    &__works {
        width: 100%;
        margin: 0 0 50px 0;
        @include tab {
            margin-bottom: 80px;
        }
        @include pc {
            margin: 0 auto 120px;
        }
        &-block {
            display: inherit;
            background-color: #FFFFFF;
            margin-bottom: 30px;
            @include pc {
                display: flex;
                justify-content: space-around;
                margin-bottom: 50px;
                padding: 50px 30px;
            }
            a {
                width: 45%;
                @include pc {
                    overflow: hidden;
                }
                img {
                    width: 100%;
                    object-fit: cover;
                    transition: .3s all;
                }
                img:hover {
                    @include pc {
                        transform: scale(1.2,1.2);
                        transition: .3s all;
                    }
                }
            }
            .p-top-main__works-text-block {
                width: 100%;
                padding: 30px;
                @include pc {
                    width: 45%;
                    padding: 0;
                }
                p {
                    margin-top: 20px;
                    font-size: 14px;
                    @include tab {
                        font-size: 16px;
                    }
                    @include pc {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    &__price {
        margin-bottom: 50px;
        @include tab {
            margin-bottom: 80px;
        }
        @include pc {
            margin-bottom: 120px;
        }
        &-block {
            display: flex;
            justify-content: space-between;
            line-height: 4;
            border-bottom: 1px solid #000000;
            font-size: 14px;
            @include tab {
                font-size: 16px;
            }
        }
    }
    &__contact {
        font-size: 14px;
        @include tab {
            font-size: 16px;
        }
    }
}
.p-top-main__title-logo {
    font-size: 24px;
    margin: 30px 0 20px 0;
    @include pc {
        font-size: 40px;
        margin-bottom: 50px;
    }
}
