@charset "UTF-8";
.page-top {
    padding-top: 120px;
    width: 80%;
    margin: 0 auto;
    .page-title {
        margin: 50px auto 90px;
        font-size: 36px;
    }
    .contact-text {
        margin-bottom: 50px;
    }
}