@charset "UTF-8";
@use "../foundation/mixin";

.page-top {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    @include mixin.tab {
        padding-top: 60px;
    }
    @include mixin.pc {
        padding-top: 120px;
    }
    .page-title {
        margin: 50px auto 90px;
        font-size: 28px;
        @include mixin.tab {
            font-size: 30px;
        }
        @include mixin.pc {
            font-size: 36px;
        }
    }
    .contact-text {
        margin-bottom: 50px;
    }
}